In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Bad key "text.kerning_factor" on line 4 in
/Users/swsong/opt/anaconda3/envs/dataScience/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range('20130101', periods=6)

In [6]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [8]:
df

                   A         B         C         D
2013-01-01  0.826805 -0.455331 -1.297417  1.593783
2013-01-02  0.647672  0.230072  0.711983  0.117408
2013-01-03  1.714864 -0.276566 -0.541684 -1.560899
2013-01-04  0.483748 -0.624127  1.384600  0.467981
2013-01-05  0.515478  0.258281 -0.949845  1.180581
2013-01-06  0.382673 -0.553482 -0.032811 -1.122393

In [11]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4, dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [12]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [13]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [14]:
df.head()

                   A         B         C         D
2013-01-01  0.826805 -0.455331 -1.297417  1.593783
2013-01-02  0.647672  0.230072  0.711983  0.117408
2013-01-03  1.714864 -0.276566 -0.541684 -1.560899
2013-01-04  0.483748 -0.624127  1.384600  0.467981
2013-01-05  0.515478  0.258281 -0.949845  1.180581

In [15]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [17]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.761874 -0.236859 -0.120862  0.112744
std    0.491387  0.390569  1.021409  1.247928
min    0.382673 -0.624127 -1.297417 -1.560899
25%    0.491680 -0.528944 -0.847805 -0.812443
50%    0.581575 -0.365949 -0.287248  0.292695
75%    0.782022  0.103413  0.525785  1.002431
max    1.714864  0.258281  1.384600  1.593783

In [18]:
df

                   A         B         C         D
2013-01-01  0.826805 -0.455331 -1.297417  1.593783
2013-01-02  0.647672  0.230072  0.711983  0.117408
2013-01-03  1.714864 -0.276566 -0.541684 -1.560899
2013-01-04  0.483748 -0.624127  1.384600  0.467981
2013-01-05  0.515478  0.258281 -0.949845  1.180581
2013-01-06  0.382673 -0.553482 -0.032811 -1.122393

In [19]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.826805    0.647672    1.714864    0.483748    0.515478    0.382673
B   -0.455331    0.230072   -0.276566   -0.624127    0.258281   -0.553482
C   -1.297417    0.711983   -0.541684    1.384600   -0.949845   -0.032811
D    1.593783    0.117408   -1.560899    0.467981    1.180581   -1.122393

In [20]:
df

                   A         B         C         D
2013-01-01  0.826805 -0.455331 -1.297417  1.593783
2013-01-02  0.647672  0.230072  0.711983  0.117408
2013-01-03  1.714864 -0.276566 -0.541684 -1.560899
2013-01-04  0.483748 -0.624127  1.384600  0.467981
2013-01-05  0.515478  0.258281 -0.949845  1.180581
2013-01-06  0.382673 -0.553482 -0.032811 -1.122393

In [21]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  1.593783 -1.297417 -0.455331  0.826805
2013-01-02  0.117408  0.711983  0.230072  0.647672
2013-01-03 -1.560899 -0.541684 -0.276566  1.714864
2013-01-04  0.467981  1.384600 -0.624127  0.483748
2013-01-05  1.180581 -0.949845  0.258281  0.515478
2013-01-06 -1.122393 -0.032811 -0.553482  0.382673

In [22]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2013-01-06  0.382673 -0.553482 -0.032811 -1.122393
2013-01-05  0.515478  0.258281 -0.949845  1.180581
2013-01-04  0.483748 -0.624127  1.384600  0.467981
2013-01-03  1.714864 -0.276566 -0.541684 -1.560899
2013-01-02  0.647672  0.230072  0.711983  0.117408
2013-01-01  0.826805 -0.455331 -1.297417  1.593783

In [23]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-04  0.483748 -0.624127  1.384600  0.467981
2013-01-06  0.382673 -0.553482 -0.032811 -1.122393
2013-01-01  0.826805 -0.455331 -1.297417  1.593783
2013-01-03  1.714864 -0.276566 -0.541684 -1.560899
2013-01-02  0.647672  0.230072  0.711983  0.117408
2013-01-05  0.515478  0.258281 -0.949845  1.180581

In [24]:
df.sort_values(axis=1, ascending=False)

TypeError: sort_values() missing 1 required positional argument: 'by'

In [25]:
df['A']

2013-01-01    0.826805
2013-01-02    0.647672
2013-01-03    1.714864
2013-01-04    0.483748
2013-01-05    0.515478
2013-01-06    0.382673
Freq: D, Name: A, dtype: float64

In [26]:
df

                   A         B         C         D
2013-01-01  0.826805 -0.455331 -1.297417  1.593783
2013-01-02  0.647672  0.230072  0.711983  0.117408
2013-01-03  1.714864 -0.276566 -0.541684 -1.560899
2013-01-04  0.483748 -0.624127  1.384600  0.467981
2013-01-05  0.515478  0.258281 -0.949845  1.180581
2013-01-06  0.382673 -0.553482 -0.032811 -1.122393

In [27]:
df[0:3]

                   A         B         C         D
2013-01-01  0.826805 -0.455331 -1.297417  1.593783
2013-01-02  0.647672  0.230072  0.711983  0.117408
2013-01-03  1.714864 -0.276566 -0.541684 -1.560899

In [28]:
df.loc

In [29]:
df[dates[0]]

KeyError: Timestamp('2013-01-01 00:00:00', freq='D')

In [30]:
df[0]

KeyError: 0

In [31]:
df

                   A         B         C         D
2013-01-01  0.826805 -0.455331 -1.297417  1.593783
2013-01-02  0.647672  0.230072  0.711983  0.117408
2013-01-03  1.714864 -0.276566 -0.541684 -1.560899
2013-01-04  0.483748 -0.624127  1.384600  0.467981
2013-01-05  0.515478  0.258281 -0.949845  1.180581
2013-01-06  0.382673 -0.553482 -0.032811 -1.122393

In [32]:
df.loc[dates[0]]

A    0.826805
B   -0.455331
C   -1.297417
D    1.593783
Name: 2013-01-01 00:00:00, dtype: float64

In [33]:
df[:1]

                   A         B         C         D
2013-01-01  0.826805 -0.455331 -1.297417  1.593783

In [34]:
df[0]

KeyError: 0

In [35]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  0.826805 -0.455331
2013-01-02  0.647672  0.230072
2013-01-03  1.714864 -0.276566
2013-01-04  0.483748 -0.624127
2013-01-05  0.515478  0.258281
2013-01-06  0.382673 -0.553482

In [36]:
df.loc[:2]

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.datetimes.DatetimeIndex'> with these indexers [2] of <class 'int'>

In [37]:
df.loc[:]

                   A         B         C         D
2013-01-01  0.826805 -0.455331 -1.297417  1.593783
2013-01-02  0.647672  0.230072  0.711983  0.117408
2013-01-03  1.714864 -0.276566 -0.541684 -1.560899
2013-01-04  0.483748 -0.624127  1.384600  0.467981
2013-01-05  0.515478  0.258281 -0.949845  1.180581
2013-01-06  0.382673 -0.553482 -0.032811 -1.122393

In [38]:
df.loc[:2]

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.datetimes.DatetimeIndex'> with these indexers [2] of <class 'int'>

In [39]:
df.loc[dated[0],'A']

NameError: name 'dated' is not defined

In [40]:
df.loc[dates[0],'B']

-0.45533077232301616

In [41]:
df.loc[dates[1]]

A    0.647672
B    0.230072
C    0.711983
D    0.117408
Name: 2013-01-02 00:00:00, dtype: float64

In [42]:
df[1]

KeyError: 1

In [43]:
df[:]

                   A         B         C         D
2013-01-01  0.826805 -0.455331 -1.297417  1.593783
2013-01-02  0.647672  0.230072  0.711983  0.117408
2013-01-03  1.714864 -0.276566 -0.541684 -1.560899
2013-01-04  0.483748 -0.624127  1.384600  0.467981
2013-01-05  0.515478  0.258281 -0.949845  1.180581
2013-01-06  0.382673 -0.553482 -0.032811 -1.122393

In [44]:
df[:'20130106']

                   A         B         C         D
2013-01-01  0.826805 -0.455331 -1.297417  1.593783
2013-01-02  0.647672  0.230072  0.711983  0.117408
2013-01-03  1.714864 -0.276566 -0.541684 -1.560899
2013-01-04  0.483748 -0.624127  1.384600  0.467981
2013-01-05  0.515478  0.258281 -0.949845  1.180581
2013-01-06  0.382673 -0.553482 -0.032811 -1.122393

In [45]:
df[:'20130105']

                   A         B         C         D
2013-01-01  0.826805 -0.455331 -1.297417  1.593783
2013-01-02  0.647672  0.230072  0.711983  0.117408
2013-01-03  1.714864 -0.276566 -0.541684 -1.560899
2013-01-04  0.483748 -0.624127  1.384600  0.467981
2013-01-05  0.515478  0.258281 -0.949845  1.180581

In [46]:
df.iloc[1:3]

                   A         B         C         D
2013-01-02  0.647672  0.230072  0.711983  0.117408
2013-01-03  1.714864 -0.276566 -0.541684 -1.560899

In [47]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04  0.483748 -0.624127
2013-01-05  0.515478  0.258281

In [48]:
df.iloc[[1,2,3],[0,3]]

                   A         D
2013-01-02  0.647672  0.117408
2013-01-03  1.714864 -1.560899
2013-01-04  0.483748  0.467981

In [49]:
df.iloc[2,2]

-0.5416843212079542

In [50]:
df.iat[2,2]

-0.5416843212079542

In [51]:
df.iat

In [52]:
df.iloc

In [53]:
df[df.A>0]

                   A         B         C         D
2013-01-01  0.826805 -0.455331 -1.297417  1.593783
2013-01-02  0.647672  0.230072  0.711983  0.117408
2013-01-03  1.714864 -0.276566 -0.541684 -1.560899
2013-01-04  0.483748 -0.624127  1.384600  0.467981
2013-01-05  0.515478  0.258281 -0.949845  1.180581
2013-01-06  0.382673 -0.553482 -0.032811 -1.122393

In [54]:
df[df.A>0.8]

                   A         B         C         D
2013-01-01  0.826805 -0.455331 -1.297417  1.593783
2013-01-03  1.714864 -0.276566 -0.541684 -1.560899

In [55]:
df[df>0]

                   A         B         C         D
2013-01-01  0.826805       NaN       NaN  1.593783
2013-01-02  0.647672  0.230072  0.711983  0.117408
2013-01-03  1.714864       NaN       NaN       NaN
2013-01-04  0.483748       NaN  1.384600  0.467981
2013-01-05  0.515478  0.258281       NaN  1.180581
2013-01-06  0.382673       NaN       NaN       NaN

In [56]:
df[df>0].head(2)

                   A         B         C         D
2013-01-01  0.826805       NaN       NaN  1.593783
2013-01-02  0.647672  0.230072  0.711983  0.117408

In [57]:
df2 = df.copy()

In [58]:
df2['E'] = ['one','one','two','three','four','three']

In [59]:
df2

                   A         B         C         D      E
2013-01-01  0.826805 -0.455331 -1.297417  1.593783    one
2013-01-02  0.647672  0.230072  0.711983  0.117408    one
2013-01-03  1.714864 -0.276566 -0.541684 -1.560899    two
2013-01-04  0.483748 -0.624127  1.384600  0.467981  three
2013-01-05  0.515478  0.258281 -0.949845  1.180581   four
2013-01-06  0.382673 -0.553482 -0.032811 -1.122393  three

In [60]:
df2[df2['E'].isin['two','four']]

TypeError: 'method' object is not subscriptable

In [61]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03  1.714864 -0.276566 -0.541684 -1.560899   two
2013-01-05  0.515478  0.258281 -0.949845  1.180581  four

In [62]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130101',period=6))

TypeError: _generate_range() got an unexpected keyword argument 'period'

In [63]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130101',periods=6))

In [64]:
s1

2013-01-01    1
2013-01-02    2
2013-01-03    3
2013-01-04    4
2013-01-05    5
2013-01-06    6
Freq: D, dtype: int64

In [65]:
df['F'] =s1

In [66]:
df.at[dates[0]]

TypeError: _get_value() missing 1 required positional argument: 'col'

In [67]:
df.at[dates[0],'A']

0.8268051201168244

In [68]:
df

                   A         B         C         D  F
2013-01-01  0.826805 -0.455331 -1.297417  1.593783  1
2013-01-02  0.647672  0.230072  0.711983  0.117408  2
2013-01-03  1.714864 -0.276566 -0.541684 -1.560899  3
2013-01-04  0.483748 -0.624127  1.384600  0.467981  4
2013-01-05  0.515478  0.258281 -0.949845  1.180581  5
2013-01-06  0.382673 -0.553482 -0.032811 -1.122393  6

In [69]:
df.at[dates[1],'B']

0.2300724349076834

In [70]:
df.at[dates[0],'A']=0

In [71]:
df.iat[0,1]

-0.45533077232301616

In [72]:
df.iat[0,1]=0

In [73]:
df

                   A         B         C         D  F
2013-01-01  0.000000  0.000000 -1.297417  1.593783  1
2013-01-02  0.647672  0.230072  0.711983  0.117408  2
2013-01-03  1.714864 -0.276566 -0.541684 -1.560899  3
2013-01-04  0.483748 -0.624127  1.384600  0.467981  4
2013-01-05  0.515478  0.258281 -0.949845  1.180581  5
2013-01-06  0.382673 -0.553482 -0.032811 -1.122393  6

In [74]:
df.loc[:,'D']= np.array([5]*len(df))

In [75]:
len(df)

6

In [76]:
df

                   A         B         C  D  F
2013-01-01  0.000000  0.000000 -1.297417  5  1
2013-01-02  0.647672  0.230072  0.711983  5  2
2013-01-03  1.714864 -0.276566 -0.541684  5  3
2013-01-04  0.483748 -0.624127  1.384600  5  4
2013-01-05  0.515478  0.258281 -0.949845  5  5
2013-01-06  0.382673 -0.553482 -0.032811  5  6

In [77]:
df.iat[0,1]

0.0

In [78]:
df.iat[0,'F']

ValueError: iAt based indexing can only have integer indexers

In [79]:
df.loc[:,'F'] = NaN

NameError: name 'NaN' is not defined

In [80]:
df2 = df.copy()

In [81]:
df2[df2>0] = -df2

In [82]:
df2

                   A         B         C  D  F
2013-01-01  0.000000  0.000000 -1.297417 -5 -1
2013-01-02 -0.647672 -0.230072 -0.711983 -5 -2
2013-01-03 -1.714864 -0.276566 -0.541684 -5 -3
2013-01-04 -0.483748 -0.624127 -1.384600 -5 -4
2013-01-05 -0.515478 -0.258281 -0.949845 -5 -5
2013-01-06 -0.382673 -0.553482 -0.032811 -5 -6

In [83]:
df.columns

Index(['A', 'B', 'C', 'D', 'F'], dtype='object')

In [84]:
list(df.columns)

['A', 'B', 'C', 'D', 'F']

In [85]:
dates[0:4]

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04'], dtype='datetime64[ns]', freq='D')

In [86]:
df.loc(dates[0],'B')

TypeError: __call__() takes from 1 to 2 positional arguments but 3 were given

In [87]:
df.loc(dates[0])

ValueError: No axis named 2013-01-01 00:00:00 for object type <class 'pandas.core.frame.DataFrame'>

In [88]:
df.loc[:]

                   A         B         C  D  F
2013-01-01  0.000000  0.000000 -1.297417  5  1
2013-01-02  0.647672  0.230072  0.711983  5  2
2013-01-03  1.714864 -0.276566 -0.541684  5  3
2013-01-04  0.483748 -0.624127  1.384600  5  4
2013-01-05  0.515478  0.258281 -0.949845  5  5
2013-01-06  0.382673 -0.553482 -0.032811  5  6

In [89]:
df.loc[dates[0]:]

                   A         B         C  D  F
2013-01-01  0.000000  0.000000 -1.297417  5  1
2013-01-02  0.647672  0.230072  0.711983  5  2
2013-01-03  1.714864 -0.276566 -0.541684  5  3
2013-01-04  0.483748 -0.624127  1.384600  5  4
2013-01-05  0.515478  0.258281 -0.949845  5  5
2013-01-06  0.382673 -0.553482 -0.032811  5  6

In [90]:
df.loc[dates[3]:dates[4]]

                   A         B         C  D  F
2013-01-04  0.483748 -0.624127  1.384600  5  4
2013-01-05  0.515478  0.258281 -0.949845  5  5

In [91]:
df.reindex

<bound method DataFrame.reindex of                    A         B         C  D  F
2013-01-01  0.000000  0.000000 -1.297417  5  1
2013-01-02  0.647672  0.230072  0.711983  5  2
2013-01-03  1.714864 -0.276566 -0.541684  5  3
2013-01-04  0.483748 -0.624127  1.384600  5  4
2013-01-05  0.515478  0.258281 -0.949845  5  5
2013-01-06  0.382673 -0.553482 -0.032811  5  6>

In [92]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [93]:
df1

                   A         B         C  D  F   E
2013-01-01  0.000000  0.000000 -1.297417  5  1 NaN
2013-01-02  0.647672  0.230072  0.711983  5  2 NaN
2013-01-03  1.714864 -0.276566 -0.541684  5  3 NaN
2013-01-04  0.483748 -0.624127  1.384600  5  4 NaN

In [94]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [95]:
df1

                   A         B         C  D  F    E
2013-01-01  0.000000  0.000000 -1.297417  5  1  1.0
2013-01-02  0.647672  0.230072  0.711983  5  2  1.0
2013-01-03  1.714864 -0.276566 -0.541684  5  3  NaN
2013-01-04  0.483748 -0.624127  1.384600  5  4  NaN

In [96]:
df1.dropna(how='an')

ValueError: invalid how option: an

In [97]:
df1.dropna(how='any')

                   A         B         C  D  F    E
2013-01-01  0.000000  0.000000 -1.297417  5  1  1.0
2013-01-02  0.647672  0.230072  0.711983  5  2  1.0

In [98]:
df1.fillna(value=5)

                   A         B         C  D  F    E
2013-01-01  0.000000  0.000000 -1.297417  5  1  1.0
2013-01-02  0.647672  0.230072  0.711983  5  2  1.0
2013-01-03  1.714864 -0.276566 -0.541684  5  3  5.0
2013-01-04  0.483748 -0.624127  1.384600  5  4  5.0

In [99]:
df1

                   A         B         C  D  F    E
2013-01-01  0.000000  0.000000 -1.297417  5  1  1.0
2013-01-02  0.647672  0.230072  0.711983  5  2  1.0
2013-01-03  1.714864 -0.276566 -0.541684  5  3  NaN
2013-01-04  0.483748 -0.624127  1.384600  5  4  NaN

In [102]:
pd.isna(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False  False  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

In [103]:
df.mean()

A    0.624073
B   -0.160970
C   -0.120862
D    5.000000
F    3.500000
dtype: float64

In [104]:
df.mean(1)

2013-01-01    0.940517
2013-01-02    1.717946
2013-01-03    1.779323
2013-01-04    2.048844
2013-01-05    1.964783
2013-01-06    2.159276
Freq: D, dtype: float64

In [105]:
df

                   A         B         C  D  F
2013-01-01  0.000000  0.000000 -1.297417  5  1
2013-01-02  0.647672  0.230072  0.711983  5  2
2013-01-03  1.714864 -0.276566 -0.541684  5  3
2013-01-04  0.483748 -0.624127  1.384600  5  4
2013-01-05  0.515478  0.258281 -0.949845  5  5
2013-01-06  0.382673 -0.553482 -0.032811  5  6

In [106]:
df.mean(0)

A    0.624073
B   -0.160970
C   -0.120862
D    5.000000
F    3.500000
dtype: float64

In [108]:
df.mean(1)

2013-01-01    0.940517
2013-01-02    1.717946
2013-01-03    1.779323
2013-01-04    2.048844
2013-01-05    1.964783
2013-01-06    2.159276
Freq: D, dtype: float64

In [109]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [110]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates)

In [111]:
s

2013-01-01    1.0
2013-01-02    3.0
2013-01-03    5.0
2013-01-04    NaN
2013-01-05    6.0
2013-01-06    8.0
Freq: D, dtype: float64

In [112]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)

In [113]:
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [114]:
index

NameError: name 'index' is not defined

In [115]:
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [116]:
df.sub(s, axis='index')

                   A         B         C    D    F
2013-01-01       NaN       NaN       NaN  NaN  NaN
2013-01-02       NaN       NaN       NaN  NaN  NaN
2013-01-03  0.714864 -1.276566 -1.541684  4.0  2.0
2013-01-04 -2.516252 -3.624127 -1.615400  2.0  1.0
2013-01-05 -4.484522 -4.741719 -5.949845  0.0  0.0
2013-01-06       NaN       NaN       NaN  NaN  NaN

In [117]:
df

                   A         B         C  D  F
2013-01-01  0.000000  0.000000 -1.297417  5  1
2013-01-02  0.647672  0.230072  0.711983  5  2
2013-01-03  1.714864 -0.276566 -0.541684  5  3
2013-01-04  0.483748 -0.624127  1.384600  5  4
2013-01-05  0.515478  0.258281 -0.949845  5  5
2013-01-06  0.382673 -0.553482 -0.032811  5  6

In [118]:
df.apply(np.cumsum)

                   A         B         C   D   F
2013-01-01  0.000000  0.000000 -1.297417   5   1
2013-01-02  0.647672  0.230072 -0.585434  10   3
2013-01-03  2.362537 -0.046494 -1.127118  15   6
2013-01-04  2.846284 -0.670621  0.257482  20  10
2013-01-05  3.361763 -0.412340 -0.692363  25  15
2013-01-06  3.744436 -0.965822 -0.725174  30  21

In [119]:
np.cumsum

In [120]:
df.apply(lambda x: x.max()-x.min())

A    1.714864
B    0.882408
C    2.682017
D    0.000000
F    5.000000
dtype: float64

In [121]:
s = pd.Series(np.random.randint(0, 7, size=10))

In [122]:
s

0    6
1    1
2    6
3    3
4    6
5    5
6    4
7    5
8    6
9    4
dtype: int64

In [123]:
s.value_counts()

6    4
5    2
4    2
3    1
1    1
dtype: int64

In [124]:
s = pd.Series(['A','B','C','Aaba','Baca',np.nan, 'CABA','dog','cat'])

In [125]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [126]:
s.str.upper()

0       A
1       B
2       C
3    AABA
4    BACA
5     NaN
6    CABA
7     DOG
8     CAT
dtype: object

In [127]:
df = pd.DataFrame(np.random.randn(10,4))

In [128]:
df

          0         1         2         3
0  1.507081 -1.026428 -0.017060  1.589375
1  3.049986 -0.920921 -1.745191 -1.168373
2  0.126713  0.980139  0.303547 -0.544851
3  0.444299  0.362508  0.614094 -2.008044
4 -0.028408  0.830030 -0.530550  1.203954
5 -0.694397 -2.003345 -1.762659 -0.831850
6 -1.163666 -1.085252 -2.064756  0.041401
7  1.332213  0.914878 -1.938171  0.450591
8 -0.911061  2.207647 -0.670667  0.232315
9  2.213695 -1.157235 -0.167953 -0.914264

In [129]:
pieces = [df[:3], df[3:7], df[7:]]

In [130]:
pieces

[          0         1         2         3
 0  1.507081 -1.026428 -0.017060  1.589375
 1  3.049986 -0.920921 -1.745191 -1.168373
 2  0.126713  0.980139  0.303547 -0.544851,
           0         1         2         3
 3  0.444299  0.362508  0.614094 -2.008044
 4 -0.028408  0.830030 -0.530550  1.203954
 5 -0.694397 -2.003345 -1.762659 -0.831850
 6 -1.163666 -1.085252 -2.064756  0.041401,
           0         1         2         3
 7  1.332213  0.914878 -1.938171  0.450591
 8 -0.911061  2.207647 -0.670667  0.232315
 9  2.213695 -1.157235 -0.167953 -0.914264]

In [131]:
pd.concat(pieces)

          0         1         2         3
0  1.507081 -1.026428 -0.017060  1.589375
1  3.049986 -0.920921 -1.745191 -1.168373
2  0.126713  0.980139  0.303547 -0.544851
3  0.444299  0.362508  0.614094 -2.008044
4 -0.028408  0.830030 -0.530550  1.203954
5 -0.694397 -2.003345 -1.762659 -0.831850
6 -1.163666 -1.085252 -2.064756  0.041401
7  1.332213  0.914878 -1.938171  0.450591
8 -0.911061  2.207647 -0.670667  0.232315
9  2.213695 -1.157235 -0.167953 -0.914264

In [132]:
left = pd.DataFrame({'key' : ['foo','foo'], 
                     'lval': [1,2]})

In [134]:
right = pd.DataFrame({'key' : ['foo','foo'],
                      'rval': [4,5]}
)

In [135]:
left

   key  lval
0  foo     1
1  foo     2

In [136]:
right

   key  rval
0  foo     4
1  foo     5

In [137]:
pieces = [left,right]

In [138]:
pd.concat(pieces)

   key  lval  rval
0  foo   1.0   NaN
1  foo   2.0   NaN
0  foo   NaN   4.0
1  foo   NaN   5.0

In [139]:
pd.merge(left,right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [140]:
df = pd.DataFrame(np.random.randn(8,4), columns=['A','B','C','D'])

In [141]:
df

          A         B         C         D
0 -0.270378  0.038814  0.202386 -0.540794
1 -0.065721 -1.478603  0.958352 -0.840997
2 -1.014753  0.051289  1.568241 -0.228875
3  0.590359  0.909373 -0.430556 -0.256400
4  0.717058 -2.451770 -0.808964  0.756552
5 -0.996154 -1.599639 -0.158152  0.070126
6  0.644807 -0.279105 -0.213012  1.867804
7 -0.247790  0.242668 -0.869414 -0.610332

In [142]:
s = df.iloc[3|]

SyntaxError: invalid syntax (<ipython-input-142-c4832d9f316a>, line 1)

In [143]:
s = df.iloc[3]

In [144]:
s

A    0.590359
B    0.909373
C   -0.430556
D   -0.256400
Name: 3, dtype: float64

In [145]:
df.append(s, ignore=index=True)

SyntaxError: invalid syntax (<ipython-input-145-f0dab901c2bf>, line 1)

In [146]:
df.append(s)

          A         B         C         D
0 -0.270378  0.038814  0.202386 -0.540794
1 -0.065721 -1.478603  0.958352 -0.840997
2 -1.014753  0.051289  1.568241 -0.228875
3  0.590359  0.909373 -0.430556 -0.256400
4  0.717058 -2.451770 -0.808964  0.756552
5 -0.996154 -1.599639 -0.158152  0.070126
6  0.644807 -0.279105 -0.213012  1.867804
7 -0.247790  0.242668 -0.869414 -0.610332
3  0.590359  0.909373 -0.430556 -0.256400

In [147]:
df.drop(index=10)

KeyError: '[10] not found in axis'

In [148]:
df.drop(index=0)

          A         B         C         D
1 -0.065721 -1.478603  0.958352 -0.840997
2 -1.014753  0.051289  1.568241 -0.228875
3  0.590359  0.909373 -0.430556 -0.256400
4  0.717058 -2.451770 -0.808964  0.756552
5 -0.996154 -1.599639 -0.158152  0.070126
6  0.644807 -0.279105 -0.213012  1.867804
7 -0.247790  0.242668 -0.869414 -0.610332

In [149]:
df

          A         B         C         D
0 -0.270378  0.038814  0.202386 -0.540794
1 -0.065721 -1.478603  0.958352 -0.840997
2 -1.014753  0.051289  1.568241 -0.228875
3  0.590359  0.909373 -0.430556 -0.256400
4  0.717058 -2.451770 -0.808964  0.756552
5 -0.996154 -1.599639 -0.158152  0.070126
6  0.644807 -0.279105 -0.213012  1.867804
7 -0.247790  0.242668 -0.869414 -0.610332

In [150]:
df.append(s, ignore_index=True)

          A         B         C         D
0 -0.270378  0.038814  0.202386 -0.540794
1 -0.065721 -1.478603  0.958352 -0.840997
2 -1.014753  0.051289  1.568241 -0.228875
3  0.590359  0.909373 -0.430556 -0.256400
4  0.717058 -2.451770 -0.808964  0.756552
5 -0.996154 -1.599639 -0.158152  0.070126
6  0.644807 -0.279105 -0.213012  1.867804
7 -0.247790  0.242668 -0.869414 -0.610332
8  0.590359  0.909373 -0.430556 -0.256400

In [151]:
df = pd.DataFrame(
    {
        'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
        'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
        'C' : np.random.randn(8),
        'D' : np.random.randn(8)
    })

In [152]:
df

     A      B         C         D
0  foo    one  0.845285 -1.477506
1  bar    one  1.298760 -0.275702
2  foo    two  1.133496  0.363918
3  bar  three -0.562293 -0.231247
4  foo    two  2.358060  1.780881
5  bar    two -2.066320 -1.337352
6  foo    one  1.101011 -0.397177
7  foo  three -2.431870 -2.146949

In [153]:
df.groupby('A').sum()

            C         D
A
bar -1.329853 -1.844301
foo  3.005982 -1.876834

In [154]:
df.groupby('B').sum()

              C         D
B
one    3.245056 -2.150385
three -2.994163 -2.378196
two    1.425236  0.807447

In [157]:
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one    1.298760 -0.275702
    three -0.562293 -0.231247
    two   -2.066320 -1.337352
foo one    1.946296 -1.874683
    three -2.431870 -2.146949
    two    3.491556  2.144799

In [156]:
df

     A      B         C         D
0  foo    one  0.845285 -1.477506
1  bar    one  1.298760 -0.275702
2  foo    two  1.133496  0.363918
3  bar  three -0.562293 -0.231247
4  foo    two  2.358060  1.780881
5  bar    two -2.066320 -1.337352
6  foo    one  1.101011 -0.397177
7  foo  three -2.431870 -2.146949

In [158]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)})

In [159]:
df

        A  B    C         D         E
0     one  A  foo -2.738482 -0.732412
1     one  B  foo  1.682744  1.507074
2     two  C  foo  0.333154  0.203006
3   three  A  bar -0.541824  1.111926
4     one  B  bar -0.911459 -1.473014
5     one  C  bar  1.805404  1.831182
6     two  A  foo -2.245348 -0.859036
7   three  B  foo -0.271264  1.893455
8     one  C  foo  0.255430 -1.085477
9     one  A  bar  0.814619  1.151551
10    two  B  bar  0.547436  2.191781
11  three  C  bar  0.279229 -0.307433

In [160]:
pd.pivot_table(df, values='D', index=['A','B'], columns=['C'])

C             bar       foo
A     B
one   A  0.814619 -2.738482
      B -0.911459  1.682744
      C  1.805404  0.255430
three A -0.541824       NaN
      B       NaN -0.271264
      C  0.279229       NaN
two   A       NaN -2.245348
      B  0.547436       NaN
      C       NaN  0.333154

In [161]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')

In [162]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)

In [163]:
ts.resample('5Min').sum()

2012-01-01    26789
Freq: 5T, dtype: int64

In [164]:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')

In [169]:
ts = pd.Series(np.random.randn(len(rng)), rng)

In [170]:
ts

2012-03-06   -0.177539
2012-03-07   -0.335712
2012-03-08    2.739015
2012-03-09    2.212997
2012-03-10   -1.170003
Freq: D, dtype: float64

In [171]:
ts_utc = ts.tz_localize('UTC')

In [172]:
ts_utc

2012-03-06 00:00:00+00:00   -0.177539
2012-03-07 00:00:00+00:00   -0.335712
2012-03-08 00:00:00+00:00    2.739015
2012-03-09 00:00:00+00:00    2.212997
2012-03-10 00:00:00+00:00   -1.170003
Freq: D, dtype: float64

In [173]:
ts_utc.tz_convert('US/Eastern')

2012-03-05 19:00:00-05:00   -0.177539
2012-03-06 19:00:00-05:00   -0.335712
2012-03-07 19:00:00-05:00    2.739015
2012-03-08 19:00:00-05:00    2.212997
2012-03-09 19:00:00-05:00   -1.170003
Freq: D, dtype: float64